<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Melissa has posted a new piece, <%= @piece.name %>!</h1>
    <br>
    <p>
      Description:
      <br>
      <%= @piece.description %>
    </p>
    <br>
    <a href="http://www.vidamagic.com/">
      <p>
        Visit her gallery to check it out!
      </p>
    </a>
  </body>
</html>