@import "bootstrap/scss/bootstrap.scss";
@import '@fortawesome/fontawesome-free';

.bg-black {
  background-color: black;
}


// I commented out these two styles after changing up site layout.  Keeping in case I go back to original layout.

// .dropdown-toggle::after {
//   display: none;
// }

// .navbar-brand {
//   transform: translateX(-50%);
//   left: 50%;
//   position: absolute;
// }

h1 {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 90px;
  color: black;
}

h5 {
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: black;
}

.gallery-p {
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: black;
  font-size: 25px;
  word-wrap: break-word;  
}

.gallery-row {
  margin: 10px;  
}

.home-row {
  padding-top: 25px; 
  padding-bottom: 25px;
  padding-right: 25px;
  margin-top: 5px;  
}

.row-border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.img-size {
  max-width: 100%;
  height: auto;
}

.gallery-img-size {
  height: 225px;
  width: 225px;
}

.icon {
  color: black;
  padding: 10px;
}

.modal-video {
  width: 100%;
  height: auto;
}

.show-page-video {
  width: 100%;
  height: auto;
  border: 5px solid black;
}

.img-border {
  border: 5px solid black;
}

.btn-dark {
  background-color: black !important;
}

.carousel-style {
  height: 300px !important;
  width: 100% !important;
  background-color: white !important;
}

.col-lg-3 {
  margin: 0px !important;
  padding: 0px !important;
}

.slow-carousel-item {
  transition-duration: 25s !important;
}



@media only screen 
  and (min-device-width: 374px) 
  and (max-device-width: 812px) { 
    
    .navbar {
      height: 150px;
    }

    .navbar-mobile-font {
      font-size: 40px;
    }

    .mobile-icon {
      height: 125px;
      width: 125px;
    }

    .dropdown-icon {
      height: 50px;
      width: 50px;
    }

    .mx-w-100 {
      max-width: 100% !important;
    }

    .gallery-img-size {
      width: 100% !important;
      height: auto;
    }

    .dropdown-item {
      font-size: 60px !important;
    }

    .fa-2x {
      height: 75px !important;
      width: auto !important;
    }

    .gallery-p {
      font-size: 100px;
    }

    .full_modal-dialog {
      width: 75% !important;
      height: auto !important;
      min-width: 75% !important;
      min-height: auto !important;
      max-width: 75% !important;
      max-height: auto !important;
      padding: 0 !important;
    }
    
    .full_modal-content {
      height: 99% !important;
      min-height: 99% !important;
      max-height: 99% !important;
    }

    .carousel-style {
      height: 900px !important;
      width: 100% !important;
      background-color: white !important;
    }

    .post-title {
      font-size: 75px;
    }

    .post-time-ago {
      font-size: 25px;
    }

    .post-body {
      font-size: 50px;
    }

    h5 {
      font-size: 40px;
    }

    .gallery-img-css {
      border-top: 3px solid black;
      border-bottom: 3px solid black;
      margin-bottom: 40px;
      margin-top: 40px;
    }


}

