@import "bootstrap/scss/bootstrap.scss";
@import '@fortawesome/fontawesome-free';

.bg-black {
  background-color: black;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

h1 {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 90px;
  color: black;
}

h5 {
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: black;
}

p {
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: black;
  font-size: 25px;
  word-wrap: break-word;  
}

.row {
  padding: 10px; 
}

.img-size {
  height: 225px;
  width: 225px;
}

.icon {
  color: black;
  padding: 10px;
}

.modal-video {
  width: 100%;
  height: auto;
}

.btn-dark {
  background-color: black !important;
}


@media only screen 
  and (min-device-width: 374px) 
  and (max-device-width: 812px) { 
    
    .navbar {
      height: 150px;
    }

    .mobile-icon {
      height: 125px;
      width: 125px;
    }

    .dropdown-icon {
      height: 50px;
      width: 50px;
    }

    .mx-w-100 {
      max-width: 100% !important;
    }

    .img-size {
      width: 100% !important;
      height: auto;
    }

    .dropdown-item {
      font-size: 60px !important;
    }

    .fa-2x {
      height: 75px !important;
      width: auto !important;
    }

    p {
      font-size: 100px;
    }

    .full_modal-dialog {
      width: 75% !important;
      height: auto !important;
      min-width: 75% !important;
      min-height: auto !important;
      max-width: 75% !important;
      max-height: auto !important;
      padding: 0 !important;
    }
    
    .full_modal-content {
      height: 99% !important;
      min-height: 99% !important;
      max-height: 99% !important;
    }


}

